@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import "tailwindcss";


.story-script {
    font-family: 'Story Script', cursive;
}


/* body {
    margin: auto;
    overflow: auto;
    background: linear-gradient(315deg, rgb(242, 189, 238) 3%, rgb(157, 195, 233) 38%, rgb(144, 255, 248) 68%, rgb(255, 163, 163) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
} */

.bg-pattern {
    width: 100%;
    height: 100vh;
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f7e6f5;
    opacity: 0.3;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f7e6f5 33px ), repeating-linear-gradient( #ff67f955, #ff67f9 );
}
